@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.app-dark {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #3a456b;
}

.app-light {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.mymuse-modal {
  min-width: 40%;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin: 1rem 0;
}

form input {
  max-width: 20rem;
  min-height: 3rem !important;
  font-size: 1.5rem !important;
}

.mymuse-modal-button {
  font-size: 1.5rem;
  min-width: 7rem;
  margin-left: 2rem;
}

.header-dark {
  position: fixed;
  width: 65%;
  max-width: 128rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #3a456b;
}

.header-light {
  position: fixed;
  width: 65%;
  max-width: 128rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff; 
}

.mymuse-navbar-dark {
  background-color: #2a365f;
}

.mymuse-navbar-light {
  background-color: #f5f5f5;
}

.mymuse-navbarBrand {
  font-size: 2.25rem;
  margin-left: 2rem;
  font-family: 'Dancing Script', cursive;
}

.editor-dark {
  min-height: 90vh;
  width: 65%;
  max-width: 120rem;
  padding: 12rem 10rem 5rem;
  font-size: 1.5rem;
  line-height: 175%;
  margin: 0 auto;
  /* removes the black border on focus */
  outline: 0px solid transparent;
  background-color: #3a456b;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editor-light {
  min-height: 90vh;
  width: 65%;
  max-width: 128rem;
  padding: 12rem 10rem 5rem;
  font-size: 1.5rem;
  line-height: 175%;
  margin: 0 auto;
  /* removes the black border on focus */
  outline: 0px solid transparent;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1024px) {
  .editor-dark, .editor-light {
    width: 95%;
    padding: 10rem 2rem 2rem;
  }
  .header-dark, .header-light {
    width: 95%;
  }
}

.milestones-container {
  margin: 1.25rem 0;
  display: flex;  
  flex-direction: row-reverse;
  justify-content: space-around;
}

.milestone-dark {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ff5071;
  box-shadow: inset 0 0 1rem #f6627d, 0 0 0.5rem 0.25rem #ff5071;
  border-radius: 50%;
}

.milestone-light {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #0ff;
  box-shadow: inset 0 0 1rem #fff, 0 0 0.5rem 0.25rem #0ff;
  border-radius: 50%;
}

.wordcounter {
  color: gray;
  font-size: 1.25rem;
  border: 1px solid rgba(155, 152, 152, 0.767);
  min-width: 3rem;
  padding: 0.25rem 1rem;
  margin: 0 0 0 auto;
  text-align: center;
  border-radius: 0.5rem;
}

.mymuse-nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.mymuse-nav a {
  width: max-content;
  cursor: pointer;
}